@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3 mt-5">
            <div class="card ">
                <div class="card-header">
                    <center><h2>Kundelik.kz</h2></center>
                </div>
                <div class="card-body">
                    <div class="col-8 offset-2">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter login">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Enter password">
                            </div>

                            <input type="checkbox">
                            <label>Remember me</label>

                            <div class="form-group">
                                <a href="home.html" class="btn btn-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>